{% extends "padre.html" %}

{% load static %}

{% block contenido%}
<style>

        h1{
            margin-top: 10px;
            text-align: center;
            font-family: monospace;
        } 
        body{
            background-image: url(../static/app_proyecto/assets/img/5437982.jpg);
            
        }
        .div1, .divi{
            text-align: center;
            border: 5px orange inset;
            background-color: aliceblue;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 10px;
        
            

        }
        .imagen1{
            border-radius: 8px;
            max-height: 500px;
            max-width: 800px;
            
            
        }
        
        .titulo1{
            letter-spacing: 5px;
            font-family: 'Times New Roman', Times, cursive;
            font-style: oblique;
            font-weight: bold;

        }
        .subtitulo1{
            
            font-style: oblique;
        }
        .cuerpo1{
            text-indent: 10px;
            font-size: large;
            line-height: 1.5;
            text-align: left;
        }
        .imagen1{
            border-radius: 8px;
            
        }
        .autor1{
            text-align: end;
        }

        .div2{
            text-align: center;
            text-decoration: none;
            text-shadow: none;

        }
        .p2{
            text-align:center;
        }
        .pot, .pet{
            background-color: rgb(238, 177, 130) ;
            margin-left: 300px;
            margin-right: 300px;
            margin-top: 100px;
            text-align: center;
            font-size: 30px;
            font-style: oblique;
            text-decoration: double;
            font-family: monospace;

        }
        .btn2, .btn3, .btn4{
            text-align: center;
            height: 50px;
            width: max-content;

        }
        .aaa, .aaaa{
            text-decoration:solid;
            color: black;
            font-style: oblique;
        }
        .divi{
            text-align: left;
            background-color: aliceblue;
            padding-left: 5px;
            padding-right: 5px;
       
         
        
        }

        .botones{
            padding-top: 100px;
            text-align: center;
        }
      
        .hrf{
            margin-left: 150px;
            margin-right: 150px;
            color: black;
        }
        .bttn{
            text-align: end;
        }
        .cuerpo1{
            text-align: center;
        }



</style>
<div class="botones">
<h1>Tu panel de usuario, {{user.username}}</h1>

<button class="btn2"><a class="aaa" href="{% url 'editarPerfil'%}"> Editar nombre de usuario y/o contraseña</a></button>
<button class="btn3"><a class="aaaa" href="{% url 'AgregarAvatar' %}"> Subir Avatar/ Borrar existente </a> </button>
</div>


<p class="pot"> Tus posts</p>


{% for p in post %}
{% load static %}
{%if p.autor == user%}
    <div class="div1">


        <h1 class="titulo1"> {{p.titulo}} </h1>
        <h3 class="subtitulo1"> {{p.subtitulo}}</h3>
        {% if p.imagen %}
        <img src="{{p.imagen.url}}" class="imagen1" alt="Foto-Post" > 
        {%endif%}
        <p class="autor1"> {{p.autor}} </p>
        
        <details class="d1"> 
            <summary> Leer Post </summary>
            <p class="cuerpo1"> {{p.cuerpo}} </p>
            <p> {{p.fecha}} </p>
            <p> {{p.comentario}} </p> 
            <p> Post numero {{p.id}}</p>
        </details>
        
    <button> 

        <a href="{% url 'BorrarPost' p.id %}"> Eliminar </a>

    </button>
    <button>

        <a href="{% url 'editarPost' p.id  %}"> Editar Post </a>

    </button>



</div>

{%endif%}
{%endfor%}






    <p class="pet"> Tus comentarios </p>

    <div class="divi"> 
       
        {% for c in comentario %}
        {%if c.autor == user %}
        <p class="autor"> {{c.autor}} </p>
        <hr size="3px" width="150px" color="black" />
        <pre style='display:inline; white-space:pre;' class="comentario"> {{c.comentario}} </pre>
        
        
       
        <div class="bttn">
            
            <button> <a href="{% url 'BorrarComentario' c.id %}">Eliminar Comentario </a></button></li>
            <button> <a href="{% url 'EditarComentario' c.id %}"> Editar Comentario</a></button></li>
            <hr class="hrf" size="5px" />
            
</div>
        {%endif%}
        {%endfor%}
        
    </div>


{% endblock %}

