{%extends "padre.html"%}
{%load static%}
{%block contenido%}
    <style>
        .div-1{
            padding-top: 100px;
            text-align: center;
        }
        h2{
            padding-bottom: 20px;
        }
        .a-1{
            padding-top:100px ;

        }
    </style>


    <div class="div-1">
        <h2>Post registrado exitosamente</h2>
        <p><a href="http://127.0.0.1:8000/app_proyecto/"> Volver al inicio</a></p>
        <a href="http://127.0.0.1:8000/app_proyecto/crear_post"> Crear otro post </a>   
        
    </div>
{%endblock%}